.AppBody {
}

.container{
	margin-top: 4rem;
	font-family: Lobster;
	clear:both;
	display:block;
}

.row{
	width: 155vh;
	margin-top: 0;
}

.col-md-3{
	border: solid thin gray;
	height: 66vh;
	border-radius: 10px;
	background-color: #fff;
}

.col-md-3 p{
	color: #cadaca;
	padding: 8px;
	text-shadow: 0px 1px #124a73;
}

#skill1, #skill2, #skill3, #skill4{
	background-image: url('2.jpg');
	background-image: no-repeat;
}
